-r https://raw.githubusercontent.com/snowflakedb/snowflake-connector-python/v2.8.3/tested_requirements/requirements_39.reqs
streamlit-aggrid==0.3.3
git+https://github.com/Jwrede/streamlit_authenticator@main
python-dotenv
snowflake-connector-python[pandas]==2.8.3
cognitojwt==1.4.1
boto3==1.26.64
aws-requests-auth==0.4.3
requests